<h1>Dogs that need adoption</h1>

<%= link_to "New dog announcement", new_dog_path %>
<% @dogs.each do |dog| %>
	<%= link_to dog do %>
		<%= image_tag dog.photo1 %> | <%= dog.name %> | <%= dog.breed %> | <%= dog.city %> | <%= dog.state %> | <%= dog.country %>
	<% end %>
<% end %>

<%= will_paginate @dogs, :previous_label => 'Previous', :next_label => 'Next'  %>